.catalog {
  padding-bottom: 30px;
}
.catalog__title {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
  font-family: $title-font;
  text-align: center;
  color: #0d3351;
  font-style: normal;
  letter-spacing: 0.055em;
}

.catalog__sorting {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin: 0 auto;
}

.catalog__sorting-text {
  margin-right: 6px;
  margin-left: auto;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  font-family: $main-font;
  font-style: normal;
  letter-spacing: 0.053em;
}

.catalog__sorting__values {
  position: relative;

  margin-right: auto;
  padding-right: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  font-family: $main-font;
  font-style: italic;
  letter-spacing: 0.053em;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 5px;

    display: block;
    width: 9px;
    height: 9px;

    background-image: url("../img/down.svg");
    background-repeat: no-repeat;
  }
}

.catalog__list {
  @include no-list;
}

.catalog__item {
  position: relative;

  padding-top: 7px;
  margin-bottom: 20px;
}

.catalog__item--desktop {
  display: none;
}

.catalog__item-label {

  $label-color-blue: #34c7fd;
  $label-color-red: #F10341;;

  position: absolute;
  top: 5px;
  right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 89px;
  height: 83px;
  padding: 10px;
  z-index: 2;

  background-color: $label-color-blue;

  &::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 8px;

    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;

    border: 15px solid $label-color-blue;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: scaleX(1.5) scaleY(0.7);
  }

  &::after {
    content: "";
    position: absolute;
    right: 8px;
    bottom: -25px;

    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;

    border: 15px solid $label-color-blue;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: scaleX(1.5) scaleY(0.7);
  }

  &--discount {
    background-color: $label-color-red;
    &::before {
      border: 15px solid $label-color-red;
      border-right-color: transparent;
      border-bottom-color: transparent;
    }

    &::after {
      border: 15px solid $label-color-red;
    border-bottom-color: transparent;
    border-left-color: transparent;
    }
  }

  &--stock {
    background-color: $label-color-red;
    &::before {
      border: 15px solid $label-color-red;
      border-right-color: transparent;
      border-bottom-color: transparent;
    }

    &::after {
      border: 15px solid $label-color-red;
    border-bottom-color: transparent;
    border-left-color: transparent;
    }
  }
}

.catalog__item-label-text {
  margin: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  font-family: $main-font;
  text-align: center;
  text-align: center;
  color: $main;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 0.053em;
}

.catalog__item-img {
  position: relative;
  top: 5px;
  z-index: 1;
  width: 100%;
}

.catalog-item__wrapper {
  background-color: $main;
  padding: 10px;
  box-sizing: border-box;
}

.catalog__item-link {
  display: block;
  box-sizing: border-box;
  padding-right: 55px;
  position: relative;
  min-height: 55px;

  .catalog__item-arrow {
    position: absolute;
    top: 0;
    right: 10px;
    transform: rotate(-90deg);

    fill: $title-text;
  }

}

.catalog__item-description {
  margin-top: 10px;
  width: 85%;
  min-height: 75px;
}

.catalog__item-title {
  margin-bottom: 10px;
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;

  letter-spacing: 0.053em;

  color: $title-text;
}

.catalog__item__part {
  margin: 0;
  margin-bottom: 10px;
}

.catalog__item-part-title {

font-family: $main-font;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 1.5;

letter-spacing: 0.043em;

color: $main-text;

}

.catalog__item-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.catalog__item-price-current {
font-family: $title-font;
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 1.5;

letter-spacing: 0.043em;

color: $main-text;
}

.catalog__item-price-old {
font-family: $title-font;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.5;

letter-spacing: -0.037em;
text-decoration-line: line-through;

color: rgba(13, 51, 81, 0.54);
}

.catalog__btn {
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
  padding: 15px;
  padding-left: 36px;
  padding-right: 40px;
  text-align: left;
}

.catalog__btn-arrow {
  position: absolute;
  right: 20px;
  top: 46%;
  fill: $main;
}

@media (min-width: $tablet) {
  .catalog__title {
    font-size: 26px;
    line-height: 1;
    margin-bottom: 5px;
  }

  .catalog__sorting {
    .catalog__sorting-text {
      margin-top:5px;
      margin-bottom: 5px;
    }
    .catalog__sorting__values {
      margin-top:5px;
      margin-bottom: 5px;
    }
  }

  .catalog__list {
    width: 720px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    width: 345px;
  }
}

@media (min-width: $desktop) {
  .catalog__title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .catalog__list {
    width: 1140px;
    margin-top: 25px;
  }

  .catalog__item--desktop {
    display: block;
  }

  .catalog__item {
    width: 555px;
  }

  .catalog__item:nth-of-type(1) {
    width: 558px;
  }

  // .catalog__item:nth-of-type(2) {
  //   width: 555px;
  // }

  // .catalog__item:nth-of-type(3) {
  //   width: 555px;
  // }

  // .catalog__item:nth-of-type(3) {
  //   width: 555px;
  // }

}