.page-header {
  width: 100%;

  background-color: $main;

  @include border;

  position: relative;

  &__open-btn {
    position: absolute;
    top: 24px;
    left: 15px;
    display: none;
    width: 22px;
    height: 14px;

    background-image: url("../img/menu-btn.svg");
  }

  &__close-btn {
    position: absolute;
    top: 24px;
    left: 15px;
    display: block;
    width: 22px;
    height: 22px;

    background-image: url("../img/menu-close-btn.svg");
  }
}

.page-header__nav {
  padding: 0 85px;
}

.page-header__title {
  margin: 0;

  font-size: 30px;
  line-height: 1.5;
  font-family: $title-font;
  text-align: center;
}

.page-header__user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include no-list;
}

.page-header__user-item {
  text-align: center;

  &:first-of-type {
    width: 100%;
  }
}

.page-header__user-link {
  display: block;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  font-family: $main-font;
  font-style: normal;
  letter-spacing: 0.045em;
  color: $main-text;
  padding: 0 15px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 6px;

    top: 8px;
    right: 1px;

    background-image: url('../img/down.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
  }

  &--user::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 12px;

    top: 3px;
    left: 0;
    background-image: url('../img/user.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
  }

  &--val::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 12px;

    top: 3px;
    left: 0;

    background-image: url('../img/rubl.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
  }
}

.page-header__link {
  display: block;

  text-align: center;
}

.page-header__phone {
  text-align: center;
}

