body {
  min-width: 320px;

  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Raleway", Arial, sans-serif;
  color: #0D3351;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}